.Rproj.user
.Rhistory
.RData
*.Rproj
*.toc
*.vrb
*.snm
*.synctex.gz
*concordance.tex
*.DS_Store
*.log
*.nav
/sampleModule/source/labs/lab_tex_skeleton.pdf
/sampleModule/source/labs/lab_knitr_skeleton.pdf
/sampleModule/source/labs/lab_knitr_skeleton.tex
jsonfunction.R
